.carousel {
    position: relative;
}

#biggestdeals{
    display: grid;
    width:100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    /* padding: 50px; */
    margin:auto;
    text-align: center;
    padding: 30px;
}
#biggestdeals >img{
    width: 100%;
    padding: 0px;
}

#big{
    font-size:25px;
    margin:30px 0px 10px 30px;
    padding:20px;
    
}
