li {
    color: grey;
}

a {
    color: #ff3f6c;
    text-decoration: none;
}

/* img {
height: 500px;
} */
.border {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
}

.spaceEven {
    display: flex;
    justify-content: space-evenly;
}

.flexThis {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}

.donationCash {
    border: 1px solid lightgray;
    padding: 5px;
    width: 17%;
    border-radius: 50px;
    text-align: center;
    color: black;
    background-color: white;
}

.donationCash:nth-child(4) {
    /* margin: auto; */
    text-decoration-color: black;
    font-weight: 400;
    width: 20%;
}

.invisiblebtn {
    border: 0px;
    background-color: white;
    font-weight: 500;
    font-size: small;
}

.redbtn {
    background-color: white;
    color: #ff3f6c;
    border: 2px solid #ff3f6c;
    border-radius: 5px;
}

.closerDivs {
    height: 0px;
}

.bigRedBtn {
    width: 90%;
    /* margin-left: 5%; */
    margin-top: 20px;
    height: 40px;
    background-color: #ff3f6c;
    color: white;
    border: 0px;
    border-radius: 3px;
}

.bottomBagNavbar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 65%;
    margin-top: 70px;
}

.bottomBagNavbar>div>img {
    height: 30px;
}

#helpInFightCOVID {
    display: flex;
    /* justify-content: space-evenly; */
}

#discount {
    color: #22aca5;
}

#topBagNavbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
    width: 100%;
    vertical-align: middle;
}

#topBagNavbar>img {
    height: 80%;
}

#sale {
    text-align: center;
}

#bagBody {
    display: flex;
    width: 60%;
    margin: auto;
}

#bagLeft {
    width: 60%;

    /* font-size: x-small; */
}

#bagRight {
    border-left: 1px solid rgb(206, 206, 206);
    width: 40%;
    padding-left: 20px;
    margin-left: 3%;
}

#bagPin {
    line-height: 0px;
    height: 30px;
    border: 2px solid #ff3f6c;
    color: #ff3f6c;
    background-color: white;
    border-radius: 3px;
}

#roundButtons>div {
    border: 1px solid black;
    border-radius: 20px;
    min-width: 50px;
    text-align: center;
    padding: 5px;
}

#pqr {
    height: 40px;
    width: 30px;
    margin-left: 20px;
}

#img101 {
    height: 40px;
    width: 50px;
}


.itemContainer-base-item{
    margin: 5px;
}




@media all and (min-width:51px) and (max-width:900px){
    #bagBody {
        flex-wrap: wrap;
        width: 90%;
    }

    #roundButtons{
        flex-wrap: wrap;
    }
    #roundButtons>div{
        margin: 5px;
    }

    #bagRight{
        margin-top: 3rem;
    }
}