.h4text{
     text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15rem;
    font-size: 1.8rem;
    margin: 50px 0 50px 30px;
    max-height: 5rem;
    font-weight: 500;
}
img{
  cursor:pointer;
}
#dealOfDay{
  display: grid;
  grid-template-columns: repeat(10,1fr);
}
#exclusiveBrands ,#bestbuy {
  display: grid;
  grid-template-columns: repeat(8,1fr);
    gap: 5px;
    
  }#topicks{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;

}#categorytobag,#trendingoutfit,#budgetpic,#unmissibleforseason,#newnessforeveryocc,#springsummerseason,#newintopbrands ,#dealOntop ,#myntraluxe,#springsummer,#trendsforher,#trendsforhim{
  display: grid;
    grid-template-columns: repeat(8,1fr);
}#brandsAtslashed,#bestforkid ,#stylecasthotestfind{
  display: grid;
  grid-template-columns: repeat(7,1fr);

}#giftingcards{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  
}#dealsonlatestarr{
  display: grid;
    grid-template-columns: repeat(2,1fr);

    
  }#latestinbeauty{
  display: grid;
  grid-template-columns: repeat(4,1fr);

  
}#topinfluencer, #coloursofseassion{
  
  display: grid;
  grid-template-columns: repeat(6,1fr);
  
}


@media all and (min-width:451px) and (max-width:900px){
  #dealOfDay{
    grid-template-columns: repeat(6,1fr);
    width: 100%;
  }
  #exclusiveBrands ,#bestbuy {
    display: grid;
    grid-template-columns: repeat(6,1fr);
      gap: 5px;
      
    }#topicks{
      display: grid;
      grid-template-columns: repeat(6,1fr);
      gap: 5px;
  
  }#categorytobag,#trendingoutfit,#budgetpic,#unmissibleforseason,#newnessforeveryocc,#springsummerseason,#newintopbrands ,#dealOntop ,#myntraluxe,#springsummer,#trendsforher,#trendsforhim{
    display: grid;
      grid-template-columns: repeat(6,1fr);
  }#brandsAtslashed,#bestforkid ,#stylecasthotestfind{
    display: grid;
    grid-template-columns: repeat(6,1fr);
  
  }#giftingcards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
  }#dealsonlatestarr{
    display: grid;
      grid-template-columns: repeat(2,1fr);
  
      
    }#latestinbeauty{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
  }
  #topinfluencer, #coloursofseassion{
    grid-template-columns: repeat(5,1fr);
    
  }
}

@media all and (min-width:50px) and (max-width:451px){
 
  .container{
    width: 100%;
  }
  
  #dealOfDay{
    grid-template-columns: repeat(5,1fr);
    width: 100%;
  }
  #exclusiveBrands ,#bestbuy {
    display: grid;
    grid-template-columns: repeat(5,1fr);
      gap: 5px;
      
    }#topicks{
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap: 5px;
  
  }#categorytobag,#trendingoutfit,#budgetpic,#unmissibleforseason,#newnessforeveryocc,#springsummerseason,#newintopbrands ,#dealOntop ,#myntraluxe,#springsummer,#trendsforher,#trendsforhim{
    display: grid;
      grid-template-columns: repeat(5,1fr);
  }#brandsAtslashed,#bestforkid ,#stylecasthotestfind{
    display: grid;
    grid-template-columns: repeat(5,1fr);
  
  }#giftingcards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
  }#dealsonlatestarr{
    display: grid;
      grid-template-columns: repeat(2,1fr);
  
      
    }#latestinbeauty{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
  }
  #topinfluencer, #coloursofseassion{
    grid-template-columns: repeat(5,1fr);
    
  }

}